/*  
    Creato il : Mon Oct 31 2022 (Halloween 🎃)
    Descrizione: Laboratorio #4
*/

header.navbar {
    background-color: #09a96d;
}

#nuovo-post {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
}