* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    color: #2f0147 !important;
}

header,
footer {
    font-size: larger;
}

div#contenuto {
    margin: 0;
}

div#contenuto a {
    color: #2f0147 !important;
    flex-basis: 100%;
    text-align: center;
}

header.navbar {
    background-color: #9c528b;
    border-bottom: 3px solid #2f0147;
}

button.nuovo-post {
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #b9929f;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    transition: 0.5s;
}

button.nuovo-post:hover {
    opacity: 1;
    background-color: #2f0147;
}

article.post-bordo {
    border: 2px solid #610f7f !important;
}

.foto-profilo {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

img.foto-profilo {
    width: auto;
    height: 100%;
    margin-left: -10px;
}

.bg-login {
    background-color: #e2c2c6;
}

footer {
    color: white;
    font-style: italic;
    background-color: #9c528b;
    border-top: 3px solid #2f0147;
}

div.titolo > p {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #2f0147;
}

.link-footer {
    text-decoration: none;
    color: white;
}

.link-footer:hover {
    color: white;
}
