* {
    margin: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.navbar {
    background-color: #09a96d;
}

.fb {
    flex-basis: 100%;
    text-align: center;
}

#nuovo-post {
    background-color: #09a96d;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 3%;
    right: 3%;
}

.foto-profilo {
    width: 75%;
}