* {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

body {
    color: #2f0147 !important;
}

header,
footer {
    font-size: larger;
}

header.navbar {
    background-color: #9c528b;
    border-bottom: 3px solid #2f0147;
}

.post-bordo {
    border: 2px solid #610f7f !important;
}

.bg-login {
    background-color: #e2c2c6;
}

.foto-profilo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.foto-commento {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

img.foto-profilo {
    width: auto;
    height: 100%;
    margin-left: -25px;
}

img.foto-commento {
    width: auto;
    height: 100%;
    margin-left: -10px;
}

footer {
    color: white;
    font-style: italic;
    background-color: #9c528b;
    border-top: 3px solid #2f0147;
}

div.titolo > p {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #2f0147;
}

.link-footer {
    text-decoration: none;
    color: white;
}

.link-footer:hover {
    color: white;
}
