{% extends "base.html" %} {% block titolo %}Homepage{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='homepage.style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block autenticazione %}
{% if session.login %}
<div class="nav-item ps-4">
    <p class="m-0 fs-6 text-light fst-italic">Benvenuto {{ session.user }}!</p>
</div>
{% else %}
<div class="navbar-nav">
    <a class="nav-link nav-item ms-5 p-2" data-bs-toggle="modal" data-bs-target="#Login" title="Login">Login</a>
    <div class="modal fade" id="Login" tabindex="-1" aria-labelledby="LoginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="/login" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row m-1 mb-2">
                            <label for="nickname" class="col-3"> Nickname:</label>
                            <input name="nickname" pattern="^[a-zA-Z]{4,15}$" class="form-control col" minlength="4"
                                maxlength="14" required>
                        </div>
                        <div class="row m-1 mb-0">
                            <label for="password" class="col-3"> Password:</label>
                            <input type="password" name="password" class="form-control col" minlength="7" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a class="nav-link nav-item p-2" href="{{ url_for('signup') }}" title="Registrati">Registrati</a>
</div>
{% endif %}
{% endblock %}

{% block home_active %}active" aria-current="page" href="#{% endblock %}
{% block presentazione_active %}" href="{{ url_for('presentazione') }} {%
endblock %}

{% block contenuto %}
<div id="contenuto" class="row mt-3 mb-3">
    <div class="col-lg-3">
        <aside>
            <div class="d-flex flex-lg-column flex-sm-row justify-content-between">
                <a class="p-2 mt-lg-3 text-lg-start" href="oggi.html" title="I post di oggi">Oggi</a>
                <a class="p-2 text-lg-start" href="settimana.html" title="I post della settimana">Questa
                    settimana</a>
                <a class="p-2 text-lg-start" href="mese.html" title="I post del mese">Questo mese</a>
            </div>
        </aside>
    </div>

    <div class="col-lg-9">
        <main>
            {% for post in posts %}
            <article
                class="row p-2 m-1 post-bordo rounded-4 {% if session.login and (session.user == post.nickname) %}bg-login{% endif %}">
                <aside class="col-lg-3 col-md-6">
                    <a href="{{ url_for('post', id=post.id) }}">
                        <img class="rounded-4 w-100" src="{{ url_for('static', filename=post.immagine_post) }}" />
                    </a>
                </aside>

                <div class="col-lg-9 col-md-6 p-2">
                    <div class="row d-flex align-items-center">
                        <div class="col-9 d-flex align-items-center">
                            <div class="foto-profilo rounded-circle me-1">
                                <img class="foto-profilo" src=" {{ url_for('static',
                                    filename=post.immagine_profilo) }}" alt="Foto profilo" />
                            </div>
                            <h2 class="fs-4">@{{ post.nickname }}</h2>
                        </div>
                        <h3 class="col-3 fs-6 text-center">{{ post.data_pubblicazione }}
                        </h3>
                    </div>

                    <p class="row fs-6">{{ post.testo }}</p>
                </div>
            </article>
            {% endfor %}
        </main>
    </div>

    {% if session.login %}
    <button type="button" class="btn nuovo-post rounded-circle text-white fs-4" data-bs-toggle="modal"
        data-bs-target="#newPost">+</button>

    <div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newpost" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <p class="text-center">Crea un nuovo post</p>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex align-items-center mb-2">
                            <labal for="nickname" class="col-2"> Utente:</labal>
                            <input name="nickname" class="form-control col" type="text"
                                placeholder="@{{ session.user }}" disabled>
                        </div>
                        <div class="row d-flex align-items-start mb-2">
                            <labal for="testo" class=" col-2 mt-2">Post:</labal>
                            <textarea name="testo" class="form-control col" rows="3" required minlength="30"
                                maxlength="200"></textarea>
                        </div>
                        <div class="row d-flex align-items-start mb-2">
                            <labal for="immagine_post" class="col-2 mt-2">Foto:</labal>
                            <input name="immagine_post" class="form-control col" type="file" accept=".jpg,.jpeg,.png">
                        </div>
                        <div class="row d-flex align-items-start">
                            <labal for="data_pubblicazione" class="col-2 mt-2">Data:</labal>
                            <input type="date" name="data_pubblicazione" class="form-control col" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn autenticazione" type="submit">Crea</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}