{% extends "base.html" %}

{% block titolo %}Chi siamo{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='presentazione.style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block home_active %}" href="{{ url_for('homepage') }}{% endblock %}
{% block presentazione_active %}active" aria-current="page" href="#{% endblock %}

{% block contenuto %}
<section class="row rounded-pill d-flex align-items-center m-4 p-3">
    <div class="col scale fb-100">
        <div id="primo">Inserisci un titolo, stronzo</div>
        <div id="secondo"> Scrivici qualcosa anche qua, coglione</div>
    </div>
    <div class="col scale fb-100 rounded-circle"> <img class="foto-Giovi"
            src="{{ url_for('static', filename='Immagini/Giovi Natale.png') }}" alt="Giovi Natale"> </div>
</section>

<section class="row rounded-pill d-flex align-items-center m-4 p-3">
    <div class="col scale fb-100 rounded-circle"> <img class="foto-Giovi"
            src="{{ url_for('static', filename='Immagini/Mago Giovino.png') }}" alt="Mago Giovino"> </div>
    <p class="col scale fb-100">La droga da, la droga dajee</p>
</section>
{% endblock %}